#include <Windows.h>
#include "resources.h"

IDI_APPICON ICON "images/app.ico"
IDI_NEWGAME ICON "images/newgame.ico"
IDI_SHUFFLE ICON "images/shuffle.ico"
IDI_CANCEL ICON "images/cancel.ico"
IDI_CANCEL_GRAYED ICON "images/cancel_grayed.ico"

STRINGTABLE
LANGUAGE LANG_RUSSIAN, SUBLANG_NEUTRAL
BEGIN
	IDS_TOOLBARNAMES "/Новая игра/Перемешать/Отменить ход//"
END

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_NEUTRAL
BEGIN
	IDS_TOOLBARNAMES "/New game/Shuffle/Cancel move//"
END
